<ul class="list-inline text-center">
  <% ["alexis", "arnaud"].each do |member, info| %>
    <li>
      <%= image_tag "#{member}.jpeg", class: "avatar-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
